.loading-overlay {
  position: fixed; /* Giữ cố định trên màn hình */
  top: 0;
  left: 0;
  width: 100vw; /* Phủ kín chiều ngang */
  height: 100vh; /* Phủ kín chiều dọc */ /* Nền mờ để thấy nội dung phía dưới nhưng không bấm được */
  display: flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center; /* Căn giữa dọc */
  z-index: 9999; /* Đảm bảo nằm trên tất cả các thành phần khác */
  cursor:wait; /* Hiển thị biểu tượng cấm khi di chuột vào */
}