.category{
    width: max-content;
    height: max-content;

}

.category :hover{
    transform: scale(1.02);
    transition: 0.3s;
    cursor: pointer;
}
.category-img {
    width: 75%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.category-img-main {
    width: 400px;
    height: 600px;
    bottom: 300px;
    border-radius: 10px;
    z-index: -1;
    position: relative;
}

#btn{
    background-color: #82ae46;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
}

#btn:hover{
    background-color: transparent;
    color: #82ae46;
    font-weight: 600;
    border: 2px solid #82ae46;
    transition: 0.3s;
}

.title{
    text-align: center;
    color: #82ae46;
}

p{
    text-align: center;
    color: #6c757d;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .category-slogent {
        display: none;
    }

    .category-img-main{
        display: none;
    }
    
}

