.category{
    height: max-content;
    width: max-content;
}

.category-img {
    width: 75%;
    height: 75%;
    border-radius: 10px;
}

#btn{
    background-color: #82ae46;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
}

#btn:hover{
    background-color: transparent;
    color: #82ae46;
    font-weight: 600;
    border: 2px solid #82ae46;
    transition: 0.3s;
}

.title{
    text-align: center;
    color: #82ae46;
}

p{
    text-align: center;
    color: #6c757d;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}
.ctgr-img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}